name: Mirror to GitLab

on:
  push:
    branches:
      - '**'
  workflow_dispatch:

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Compile Git with OpenSSL
        run: |
          curl -fsSL https://raw.githubusercontent.com/nikole-dunixi/git-openssl-shellscript/main/compile-git-with-openssl.sh | bash
          export PATH=$HOME/git/bin:$PATH
      - name: Mirror to GitLab
        env:
          GITLAB_TOKEN: ${{ secrets.GITLAB_TOKEN }}
        run: |
          git remote add gitlab https://Geri:${GITLAB_TOKEN}@git.gerardgascon.com/Geri/mirror-test.git
          GIT_TRACE=1 GIT_CURL_VERBOSE=1 git push --mirror gitlab
